/* styles go here */
.form_field {
  display: block;
  margin: 0 0 10px ;
}

.cats {
  display: inline-block;
}

.form_last {
  margin-bottom: auto;
}

.personal-information,
.registration,
.facts,
.addition {
  margin-bottom: 20px;
}
